.photo-container{
	margin: 10px auto 50px auto;
	padding-bottom: 50px;
	max-width: 1080px;
	text-align: center;

	-webkit-animation: loadMove 2s ease-out	; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: loadMove 2s ease-out	; /* Firefox < 16 */
        -ms-animation: loadMove 2s ease-out	; /* Internet Explorer */
         -o-animation: loadMove 2s ease-out	; /* Opera < 12.1 */
            animation: loadMove 2s ease-out	;
}

@keyframes loadMove {
    from { 
    	margin: 200% auto 50px auto;
    }
    to   { 
    	margin: 10px auto 50px auto;
    }
}

/* Firefox < 16 */
@-moz-keyframes loadMove {
    from { 
    	margin: 200% auto 50px auto;
    }
    to   { 
    	margin: 10px auto 50px auto;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes loadMove {
    from { 
    	margin: 200% auto 50px auto;
    }
    to   { 
    	margin: 10px auto 50px auto;
    }
}

/* Internet Explorer */
@-ms-keyframes loadMove {
    from { 
    	margin: 200% auto 50px auto;
    }
    to   { 
    	margin: 10px auto 50px auto;
    }
}

/* Opera < 12.1 */
@-o-keyframes loadMove {
    from { 
    	margin: 200% auto 50px auto;
    }
    to   { 
    	margin: 10px auto 50px auto;
    }
}

.square-photo-container{
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: 300px;
	width: 300px;
	margin: 30px;
}

.photo{
	position: absolute;
	transform: translate(-50%,0);
	max-height: 150%;
	max-width: 150%;
	top:0;bottom:0;right:0;left: 50%;
	margin: auto;
	cursor: pointer;
	-webkit-filter: brightness(1);
    filter: brightness(1);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.square-photo-container:hover .photo{
	max-height: 100%;
	max-width: 100%;
	-webkit-filter: brightness(1.1) saturate(120%);
    filter: brightness(1.1) saturate(120%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.photoLarge{
	position: fixed;
	top:0;right:0;left:0;bottom:0;
	display: block;
	margin: auto;
	image-rendering: optimizeQuality;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	max-width: 80%;
	max-height: 100%;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-filter: brightness(1.1) saturate(120%);
    filter: brightness(1.1) saturate(120%);
}

@media (max-width: 800px){
	.square-photo-container{
		width: auto;
		height: auto;
		overflow: auto;
		margin-top: 10px;
		margin-bottom: 0;
	}
	.photo{
		position: relative;
		width: 100%;
		height: auto;
		margin-top: 0px;
		margin-bottom: 1%;
		-webkit-filter: brightness(1);
    	filter: brightness(1);
	}
	.photo-container{
		max-width: 900px;
	}
	.square-photo-container:hover .photo{
		max-height: auto;
		max-width: auto;
		filter: none;
		-webkit-filter: none;
	}
}

.single-photo-container{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;right:0;left:0;bottom:0;
	display: block;
	margin: auto;
	background: black;
	background-color: rgba(0,0,0,0.7);
	visibility: hidden;
	z-index: 2;
}

.close-button{
	cursor: pointer;
	position: fixed;
	font-size: 500%;
	top: -1.2vh;
	right: 0;
	width: 5%;
	min-width: 100px;
	min-height: 100px;
	height: 7%;
	background: transparent;
	border: 0;
	text-align: center;
	color: white;
	z-index: 1;
}

.close-button:hover{
	background: black;
	opacity: 0.3;
}

.move-button{
	cursor: pointer;
	width: 10%;
	height: 10vw;
	min-height: 100px;
	background: transparent;
	font-size: 10vw;
	color: white;
	position: absolute;
	opacity: 0.5;
	top: 50%;
	transform: translateY(-40%);
	border: none;
}

.move-button:focus {/*remove highlighting when clicking*/
    outline-width: 0;
}

.move-button span{
	position: absolute;
	top: -1.7vw;
	left: 3vw;
}

@media(max-width: 1010px){/*width size for the arrow to be sized correctly*/
	.move-button span{
		font-size: 100px;
	}
}

.move-button:hover{
	background: white;
	color: black;
	opacity: 0.1;
}

.right-button{
	right: 0;
}

.page-name{
	opacity: 0;
	font-size: 300%;
	text-align: center;
	padding-top: 71px;
	font-family: OratorStd;
	-webkit-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.loader-container{
	height: 100%;
	width: 100%;
	position: absolute;
	overflow-y: hidden;
	top:0;
}

@import "compass/css3";

.loader-container div {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.loader-container div:nth-child(1) {
	opacity:0;
	background-color: #7dacb6;
	animation: move 2s infinite cubic-bezier(.2,.64,.81,.23);
}
.loader-container div:nth-child(2) {
	opacity:0;
	background-color: #e0e591;
	animation: move 2s 150ms infinite cubic-bezier(.2,.64,.81,.23);
}
.loader-container div:nth-child(3) {
	opacity:0;
	background-color: #7de7af;
	animation: move 2s 300ms infinite cubic-bezier(.2,.64,.81,.23);
}
.loader-container div:nth-child(4) {
	opacity:0;
	background-color: #e7ad7d;
	animation: move 2s 450ms infinite cubic-bezier(.2,.64,.81,.23);
}


@keyframes move {
  0% {
  	left: 10%;
  	opacity:0;
  }
  5%{
  	opacity:1;
  }
  95%{
  	opacity:1;
  }
  100% {
  	left: 90%;
  	opacity:0;
  }
}